*{
    margin:0;
    padding:0;
    
}
.top-banner {
    height:40px;
    line-height:40px;
    font-size:12px;
    color:white;
    text-align: center;
    white-space: nowrap;
    text-transform:uppercase;
}

body{
    min-height: 100vh;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
}

.header__navbar{
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    height: 100%;
}

header nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item {
    display: inline-block;
    margin-right: 10px; /* Khoảng cách giữa các mục */
}

.nav-link {
    text-decoration: none;
    color: #000; /* Màu chữ */
    position: relative; /* Định vị tương đối để dễ dàng điều khiển các phần tử con */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Độ dày của gạch chân */
    width: 0; /* Độ dài ban đầu là 0 */
    height: 3px; /* Độ dày của gạch chân */
    background-color: #f00; /* Màu gạch chân */
    transition: width 0.3s ease; /* Hiệu ứng khi độ dài thay đổi */
}

.nav-link:hover::after {
    width: 100%; /* Độ dài của gạch chân khi di chuột qua */
}

.header__navbar .header__navbar-right ul{
    display: flex;
    justify-content: flex-end; /* Căn phần tử con sang bên phải */
    margin-left: 30px; /* Điều chỉnh margin nếu cần */
    margin-right: 0 auto;
    position: relative;
}

.header__navbar .header__navbar-center ul{
    display: flex;
    margin-right: 20px;
    padding: 0 15px;
    position: relative;
    justify-content: center
}


.header__navbar .header__navbar-left{
    display: flex;
    justify-content: flex-start;
    margin-right: auto; /* Di chuyển sang bên trái */
    padding-left: 0;    /* Cho phép phần tử này mở rộng để lấp đầy không gian còn lại */
}

#logo{
    margin-left: auto;
    align-items: center;
}

#logo img{
    max-width: 60px;
    height: auto;  
}

header nav li{
    height: 50px;
}

header nav li a{
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #ffffff; /* Màu đen đậm cho header */
    color: white; /* Màu chữ trắng */
    padding: 10px 0; /* Khoảng cách giữa nội dung và viền */
    margin: 0px 5px 0px;
    align-items: center;
}

/* SIDEBAR */
header nav li:first-child{
    margin-right: auto;
}

.header__navbar .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #b149c8;

}

.sidebar a{
    text-decoration: none;
    display: block;
}

.sidebar a:hover{
    background-color: #f2bcf2;
    
}


/* SUB MENU */

.sub-menu {
    min-width: max-content; /* Đặt độ rộng tối thiểu là độ rộng của nội dung lớn nhất */
    white-space: nowrap; /* Ngăn chặn việc ngắt dòng */
    padding: none;
    margin-top: 5px;
    
}

.gropuBuy {
    width: 100%; /* Mở rộng mỗi mục con để chiếm toàn bộ không gian có sẵn */
}

.dropdown{
    position: relative;
    display: inline-block;
    
}

.header__navbar-center ul.sub-menu {
    display: none;
    position: absolute; 
    background-color: #fff4f4;
    padding: 10px 4px;
    list-style: none;
    z-index: 1;
}

.header__navbar-center ul.sub-menu a {
    padding: 8px 0px;
    border-bottom: 1px solid #d4d1d4;
    text-decoration: none;
}

.header__navbar-center ul.sub-menu a:hover::before {
    transition: all .5s ease 0s; 
    
}

.header__navbar-center ul.sub-menu a:hover{
    border-bottom: 1px solid #531c5f;
    color: #b149c8;
    transition: 1.25s ease;
    background-color:  #f2bcf2;
}

.dropdown:hover .sub-menu {
    display:  block;
}

.header__navbar-center ul.sub-menu li:last-child a {
    border: none;

}

.section {
    padding: 20px 0; /* Khoảng cách giữa nội dung và viền */
    text-align: center; /* Căn giữa nội dung */
}

.section_1 {
    background-color: burlywood; /* Màu xám nhạt cho section 1 */
}

.section_2 {
    background-color: green; /* Màu xám cho section 2 */
}

.section_3 {
    background-color: blue; /* Màu xám nhạt cho section 3 */
}

.section_5 {
    background-color:red; /* Màu xám cho section 5 */
}




/* KThen */
.grid{
    width:1200px;
    max-width: 100%;
    margin:0 auto;
}
.grid__full-width{
    width:100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right:-5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right:5px;
    width:16.6667%;
}
.grid__column-2-4{
    padding-left:5px;
    padding-right:5px;
    width:20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right:5px;
    width:83.3334%;
}
.grid__row-item{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.footer {
    background-color: #2b2a2a; /* Màu đen đậm cho footer */
    color: lightgray; /* Màu chữ trắng */
    padding: 10px 0; /* Khoảng cách giữa nội dung và viền */
    text-align: center; /* Căn giữa nội dung */
    width: 100%; /* Độ rộng 100% */
    height:450px auto; /*KThen*/
    position: absolute; /* Thiết lập vị trí tuyệt đối */
    bottom: 0; /* Hiển thị footer ở cuối trang */
    padding-top:75px;
    padding-bottom: 25px;
}
.footer__list{
    list-style: none;
    padding-left:0;
}
.footer__list-item{
    font-size:14px;
    color: #c6c4c4;
    text-decoration: none;
}

.footer__heading{
    font-size: 18px;
    font-weight:bolder;
    text-transform: uppercase;
    color:#dedddd;
}
.footer__list-item-link{
    font-size:14px;
    color: #bfbcbc;
    text-decoration: none;
    padding: 5px 0;
    display:flex;
    align-items: center;
}
.footer__list-item-link:hover{
    color: #61317F;
    text-decoration: none;
}
.footer__icon{
    font-size: 20px;
    margin:-1px 10px 0 0;
}
.fa-solid{
    margin: 5px;
}
.footer__text-center{
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin:5px 10px -5px 0;
    color:#c6c4c4;
}

.footer__list-item1, .footer__list-item-link{
    display:inline-block;
}
/* KThen */