*{
    margin:0;
    padding:0;
}

/*KThen viết nữa nè*/
body {
	color: var(--text-color);
	background: #fff;
	overflow-x: hidden;
	max-width: 100%;
	font-family: 'Mulish',sans-serif;
}

.wrapper {
    width: 100%; /* Chiều rộng của wrapper là 100% của viewport */
    box-sizing: border-box; /* Tính cả padding và border vào trong chiều rộng */
    position: absolute;
}

.top-banner {
    height: 40px;
    line-height: 40px;
    font-size: 14px; /* Sửa font lại nữa nè */
    color: white;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    background: linear-gradient(#136a8a, #267871); /* Sửa màu lại nữa nè */
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000;
}

.header {
    position: fixed; 
    display: flex;
    width: 100%; 
    background-color: #fff; 
    top: 40px; 
    padding: 5px 10px; /* Khoảng cách giữa nội dung và viền     thứ tự top-right-bottom-left*/  
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
}


.scroll::-webkit-scrollbar {
	width: 3px
}

.scroll::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	outline: 1px solid var(--primary-color)
}

/* =================================================================*/

.container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-lg-15, .col-lg-20, .col-lg-80, .col-lg-60 {
	padding-right: 15px;
	padding-left: 15px
}


.header__navbar{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    height: 100%;
}

header nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-items: center;
    align-items: center;
}

.nav-item {
    display: inline-block;
    margin: 0 10px; /* Khoảng cách giữa các mục */
    justify-content: center;
}

.nav-link {
    display: flex;  
    text-decoration: none;
    min-height: 30px auto;
    color: #000; /* Màu chữ */
    position: relative; /* Định vị tương đối để dễ dàng điều khiển các phần tử con */
    padding: 0 5px;
    align-items: center;
    justify-content: center;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0; /* Độ dài ban đầu là 0 */
    height: 2.5px; /* Độ dày của gạch chân */
    background-color: #f00; /* Màu gạch chân */
    transition: width 0.3s ease; /* Hiệu ứng khi độ dài thay đổi */
}

.nav-link:hover::after {
    width: 100%; /* Độ dài của gạch chân khi di chuột qua */
}


.header__navbar .header__navbar-right{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto; /* Điều chỉnh margin nếu cần */
    margin-right: 0;
    position: relative;
}

.header__navbar-right a {
    display: flex;
    align-items: center; /* Vertically center items */
}

.header__navbar-right ul i {
    font-size: 20px;
}

.header__navbar .header__navbar-center ul{
    display: flex;
    padding: 0 5px;
    position: relative;
    justify-content: center;
}


.header__navbar-left{
    display: flex;
    margin-right: auto;
    align-items: center;
    position: relative;
    justify-content: center;
    height: fit-content;
}


#logo{
    margin-left: auto;
}

#logo img{
    max-width: 50px;
    height: auto;  
}

/* KThen viết */
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #267871;
    font-family: 'Changa One', sans-serif;
    font-style:italic;
    font-size:20px; /* Kích thước font chữ lớn hơn */
    font-weight:bold; /* Độ đậm của font chữ (700 tương đương với font-weight: bold;) */
    text-decoration: none;
    text-shadow: 1px 1px 4px #136a8a; 
    height: inherit;
    margin: 5px auto;
}

header nav li{
    height: 50px;
}

header nav li a{
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 5x 5px;
    text-decoration: none;
    list-style: none;
}



/* SIDEBAR */

.menu-bar{
    display: none;
    padding-right: 10px;
}

.large-icon {
    font-size: 24px; /* Đặt kích thước font là 24px hoặc bất kỳ kích thước nào bạn muốn */
    
}

.sidebar { 
    position: fixed;
    top: 40px;
    left: -250px;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow-x: visible;
    transition: 0.3s;
}

.show {
    display: flex;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
}

.sidebar .user{
    display: flex;
    position: absolute;
    background-color: #f00;
}


.sidebar-item {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1000;
    align-items: center;
    justify-content: left;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    
}

.sidebar-item li{
    width: 100%;
    position: relative;
    display: flex ;
    align-items: center;
}


.sidebar-link{
    text-decoration: none;
    display: block;
    width: 100%;
    height: fit-content;
    color: #30989b;
    font-weight:600;
    padding-left: 20px; /* Additional padding on the left for indentation */
    transition: background-color 0.3s;
    
}

.sidebar-link:hover {
    text-decoration: none; 
    color: #33b6ba;
}

.sidebar-item li:hover{
    background-color: #a3d8e1;
}


/* GIỎ HÀNG */
.shopping__cart {
    position: relative;
    text-align: center;
    margin: 5px;
    z-index: 1000;
}

.shopping__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -15px;
    background-color: white;
    width: 400px;
    height: fit-content;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 #e9e6e6;
    display: none; /* Hiển thị giỏ hàng nhanh*/
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.shopping__cart-list::after {
    content: "";
    position: absolute;
    right: 7.5px;
    top: -32px;
    border-width: 16px 23px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;
}

.shopping__cart:hover .shopping__cart-list {
    display: block;
}

.shopping__cart-list--no-cart {
    display: none;
}

.shopping__cart:hover .shopping__cart-list--no-cart {
    display: block;
}

.shopping__cart-list--no-cart .shopping__cart-list--no-cart-img,
.shopping__cart-list--no-cart .shopping__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shopping__cart-list--no-cart-img {
    width: 40%;
}

.shopping__cart-list--no-cart-msg {
    font-size: 1.1rem;
    margin-top: 14px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 500;
}

/* CÓ SP */
.shopping__cart-notice {
    position: absolute;
    padding: 3px 6px;
    background-color: #3f9790;
    color: white;
    font-size: 0.7rem;
    line-height: 0.7rem;
    border-radius: 50%;
    border: 2px solid white;
    top: 5px; /* Đẩy lên trên */
    right: -10px; /* Nằm bên phải */
    z-index: 1; /* Đặt z-index để nó hiển thị trên các phần tử khác */
    
}

.shopping__cart-heading {
    margin: 10px 0 10px 12px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #585656;
    text-align: left;
    
}

.shopping__cart-list-item {
    padding-left: 0;
    list-style: none;
    display: block;
    text-align: left;
    max-height: 31ch;
    overflow: auto;
    word-wrap: break-word;
}

.shopping__cart-item {
    display: flex;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.shopping__cart-item:hover {
    background-color: #f9f5f5b3;
}

.shopping__cart-img {
    margin: 12px;
    border: 1px solid #e6e1e1b3;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    cursor: pointer;
    
}

.shopping__cart-item-info {
    margin: 12px;
    width: 100%;
    margin-right: 12px;
    margin-left: 8px;
    display: block;
    align-items: center;
    position: relative;
    align-items: flex-end;
}

.shopping__cart-item-head {
    display: block;
    font-size: 0.8rem;
    
}

.shopping__cart-item-name {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin: 0;
    cursor: pointer;
    text-align: left;
}

.shopping__cart-item-name:hover{
    color: #c9341e;
}

.shopping__cart-item-body {
    display:block;
    text-align: right;
    position: relative;
    
}

.shopping__cart-item-price {
    font-size: 1rem;
    font-weight: 450;
    color: #267871;
    display: inline-block;
    align-items: center;
}

.shopping__cart-item-multiply {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.4px;
    color: #636060;

}

.shopping__cart-item-qnt {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.4px;
    color: #636060;
  
}

.shopping__cart-item-description {
    color: #3f9790;
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
}

.shopping__cart-item-remove {
    color: #636060;
    font-size: 1rem;
    margin-left: auto;
    display: block;
}

.shopping__cart-item-remove:hover {
    color: #c43f3f;
    cursor: pointer;
    
}

button.shopping__cart-item-remove {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

}

/* SUB MENU */

.sub-menu {
    min-width: max-content; /* Đặt độ rộng tối thiểu là độ rộng của nội dung lớn nhất */
    white-space: nowrap; /* Ngăn chặn việc ngắt dòng */
    padding: none;
    margin-top: 5px;
    
}

.gropuBuy {
    width: 100%; /* Mở rộng mỗi mục con để chiếm toàn bộ không gian có sẵn */
}

.dropdown{
    position: relative;
    display: inline-block;

}

.dropdown:hover .sub-menu {
    display:  block;
}

.header__navbar-center ul.sub-menu li:last-child a {
    border: none;

}

.header__navbar-center ul.sub-menu {
    display: none;
    position: absolute; 
    background-color: #fff4f4;
    padding: 5px 0px;
    list-style: none;
    z-index: 1;
    top: calc(80% ); /* Đặt submenu ở dưới mục cha */
}

.header__navbar-center ul.sub-menu a {
    padding: 8px 5px;
    border-bottom: 1px solid #d4d1d4;
    text-decoration: none;
    align-items: center;
}

.header__navbar-center ul.sub-menu a:hover::before {
    transition: all .5s ease 0s; 
    
}

.header__navbar-center ul.sub-menu a:hover{
    border-bottom: 1px solid #531c5f;
    color: #b149c8;
    transition: 1.25s ease;
    background-color:  #f2bcf2;
}


/* TEST*/


/*  */

.section{
    position: relative;
    display: block;
}

.awe-section-4 {
    top: 70px;
}

/*=============== BREAKPOINTS ===============*/
/* Responsive Styles */
/* Small devices (mobile) */
@media screen and (max-width: 740px) {
    .menu-bar {
        display: flex;
        font-size: 24px;
    }

    .header__navbar-center{
        display: none;
    }

    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 150;
    }

    .sidebar .user {
        margin: 5px auto;
    }

    .header__navbar {
        justify-content: space-between;
    }

    .header__navbar-left img {
        max-width: 80px;
    }

    .header__navbar-left #storeName {
        display: none;
    }

}

/* Medium devices (tablets) */
@media screen and (min-width: 740px) and (max-width: 1024px) {
    .menu-bar {
        display: flex;
        font-size: 28px;
    }

    .header__navbar-left img {
        max-width: 100px;
    }

    /* Ẩn phần header__navbar-center và header__navbar-right */
    .header__navbar-center {
        display: none;
    }
}








